*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #133333, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #133333, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.containerRelog{
    height: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #ffffff solid;
    padding: 30px;
    border-radius: 50px;
    background: -webkit-linear-gradient(to bottom, #133333, #000000);
    background: linear-gradient(to top,  #000000 ,#133333);
    box-shadow: 0px 0px 52px 15px rgba(0,0,0,0.75);
    
}

.containerRelog h1{
    font-size: 150px;
}
.containerRelog p{
    padding-top: 50px;
    font-size: 30px;
}

.containerRelog:hover {
    box-shadow: 0px 0px 52px 15px rgba(255, 251, 251, 0.75);
    
}